body {
  background-color: rgb(0, 255, 213);
}

.App {
  text-align: center;
}

.dog-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.checkbox-input {
  display: flex;
  justify-content: center;
}

.dog-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-inline-start: 0;
}

.dog-item {
  background-color: white;
  width: 200px;
  height: 150px;
  box-shadow: 0px 20px 20px -10px rgb(2, 197, 165);
  text-align: center;
  border-radius: 6px;
}

 